.root {
    -fx-font-family: "Consolas";
    -fx-font-size: 12;
    -fx-background-color: #2b2b2b;
}

.code-area .text {
    -fx-fill: #a9b7c6;
}

.code-area .keyword {
    -fx-fill: #ffc66d;
    -fx-font-weight: bold;
}

.code-area .paren {
    -fx-fill: #a9b7c6;
}

.code-area .brace {
    -fx-fill: #a9b7c6;
}

.code-area .bracket {
    -fx-fill: #a9b7c6;
}

.code-area .semicolon {
    -fx-fill: #a9b7c6;
}

.code-area .string {
    -fx-fill: #a5c261;
}

.code-area .comment {
    -fx-fill: #808080;
}

#placeForCodeArea .content {
    -fx-background-color: #3c3f41;
}

#output {
    -fx-background-color: #3c3f41;
}

#output .list-cell {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9b7c6;
}

#output .list-cell .label {
    -fx-text-fill: #a9b7c6;
}

#output .scroll-bar {
    -fx-background-color: #3c3f41;
}

#output .scroll-bar .thumb {
    -fx-background-color: #808080;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9b7c6;
    -fx-border-color: #3c3f41;
}

#progressIndicator {
    -fx-progress-color: #6897bb;
}

.code-area {
    -fx-background-color: #3c3f41;
}

.code-area .lineno {
    -fx-fill: #808080;
    -fx-background-color: #3c3f41;
    -fx-font-size: 12px;
}

#titleBar {
    -fx-background-color: #2b2b2b;
}

#input {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9b7c6;
    -fx-border-color: #808080;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

#input .styled-text-area {
    -fx-background-color: #3c3f41;
}

#input .scroll-bar {
    -fx-background-color: #3c3f41;
}

#input .scroll-bar .thumb {
    -fx-background-color: #808080;
}

#input .text {
    -fx-fill: #a9b7c6;
}